.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-dialog {
  width: 640px;
}

.modal-header {
  padding: 1px;
  border-bottom: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.52);
}

.close {
  float: right;
  font-size: 70px;
  font-weight: 100;
  line-height: 1;
  color: #000;
  text-shadow: none;
  filter: alpha(opacity=20);
  opacity: .2;
}

.close:focus, .close:hover {
  color: #fb6542;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
}

.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1{
  padding: 5%;
  background-color: #fff;
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-form-2{
  padding: 5%;
  background-color: #375e97;
}
.login-form-2 h3{
  text-align: center;
  color: #fff;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  text-align: center;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-2 .btnSubmit{
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
}
.login-form-2 .ForgetPwd{
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}

.login-form-1,
.login-form-2 {
  height: 600px;
}